.paragraph {
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.64;
  color: #151c24;
  margin-bottom 0;
  &:first-child {
    margin-top 0;
  }
}