.page-menu {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
  list-style-position: outside;
  &__item {
    display: inline-block;
  }
  &__link {
    text-decoration: none;
    display: block;
    padding: 9px 17px;
    font-family: 'Montserrat Light', Helvetica, Arial, sans-serif;
    color: #151c24;
    font-size 14px;
    transition: color .3s ease;
    &:hover {
      color: #a4a5a6;
    }
  }
}