.demo {
  background-color: #151c24;
  padding 100px 0;
  position relative;
  &__in {
    text-align center;
    padding-top: 162px;
    padding-bottom: 167px;
  }
  &__more {
    width 130px;
  }
  &__about {
    font-family: 'Montserrat Light', Helvetica, Arial, sans-serif;
    font-size: 55px;
    font-weight 300;
    line-height: 1.18;
    letter-spacing: -1.9px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 26px;
    margin-top 14px;
  }
  &__logo {
    width 213px;
    display inline-block;
    height 30px;
  }
  &__awwwards {
    width: 53px;
    height: 80px;
    position: absolute;
    background-image: url(awwwards.png);
    background-size: cover;
    top: 40px;
    right 0;
  }
}