.heading {
  font-family: 'Montserrat Light', Helvetica, Arial, sans-serif;
  margin: 0;
  &_size_xl {
    font-size: 45px;
    font-weight: 300;
    line-height: 1.4;
    color: #151c24;
  }
  &__dot {
    color: #54b1d2;
  }
}