.logo {
  svg path {
    fill: #1f252c;
    transition: fill .3s ease;
  }
  &:hover {
    opacity: .7;
  }
  &_nyt {
    svg path {
      fill: #FFFFFE;
    }
    &:hover {
      opacity: 1;
    }
  }
}