.page-header {
  &__in {
    max-width: 1124px;
    margin: 0 auto;
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
  }
  &__logo {
    width: 142px;
    float left;
    margin-top 7px;
  }
}